[2021-09-19 01:25] ptegler opened #4 "import error cv2 error"

[2021-09-19 01:26] ptegler commented on #4
remote access not avail  stock RP14 8G fresh buster install...explicit directions followed can't start anything

[2021-09-19 20:27] michaelhwn commented on #4
Hi @ptegler, can you describe the steps you performed that caused this error?

[2021-11-09 18:34] #4 closed

[2021-11-17 19:07] 95ImadEL opened #16 "Can't login"
Hello,
First of all I would like to thank you for this excellent work. In fact, I am trying to connect to http://raspberrypi.local/programming. I enter the username pi and the password and it shows me The username does not exist! Thanks in advance.

[2021-11-17 19:40] michaelhwn commented on #16
Hi @95ImadEL, did you observe if there were any errors during the setup process? if not, can you please confirm if you can log in to your Raspberry Pi OS using the pi account?

[2021-11-18 22:21] 95ImadEL commented on #16
Thank you for your answer, unfortunately I could not find any error during the setup. Also I can connect with the pi login.

[2021-11-18 22:25] 95ImadEL commented on #16
This is the used OS

PRETTY_NAME="Raspbian GNU/Linux 11 (bullseye)"
NAME="Raspbian GNU/Linux"
VERSION_ID="11"
VERSION="11 (bullseye)"
VERSION_CODENAME=bullseye
ID=raspbian
ID_LIKE=debian
HOME_URL="http://www.raspbian.org/"
SUPPORT_URL="http://www.raspbian.org/RaspbianForums"
BUG_REPORT_URL="http://www.raspbian.org/RaspbianBugs"

[2021-11-18 22:30] michaelhwn commented on #16
Thanks for the info @95ImadEL, currently CEP has not updated to fully support the latest Raspberry Pi OS (bullseye), there is an issue in CEP that prevents the user from logging in properly on this latest OS. I will push an update soon to solve this issue. Meanwhile, can you try to use CEP on Raspberry Pi OS Buster instead?

[2021-11-18 22:43] 95ImadEL commented on #16
ok I'll do it thanks a lot. I will keep you informed.

[2021-11-18 22:45] michaelhwn commented on #16
You are welcome @95ImadEL. I will let you know once the Bullseye support is ready.

[2021-11-21 13:08] gris74 commented on #16
I have same issue... but on buster

I can access, dev directly from http://ip-address/programming but not via login screen, the login as no effect/redirect

PRETTY_NAME="Raspbian GNU/Linux 10 (buster)"
NAME="Raspbian GNU/Linux"
VERSION_ID="10"
VERSION="10 (buster)"
VERSION_CODENAME=buster
ID=raspbian
ID_LIKE=debian
HOME_URL="http://www.raspbian.org/"
SUPPORT_URL="http://www.raspbian.org/RaspbianFo

[2021-11-21 16:39] gris74 opened #17 "Can't login in the Home Assistant Docker"
Hello,

I find out that you install a docker with Hassio but I can't login.

I already have an Home Assistant server @home so I will unjoy your solution if I manage to integrate it.

[2021-11-21 18:28] michaelhwn commented on #17
Hi @gris74, you can login the home assistant server with the following user:

username: ai
password: ai

[2021-11-21 18:32] michaelhwn commented on #16
Hi @gris74, can you try to use the latest main branch

Hi @gris74 , are you pulling from the latest dev branch? There is some updates commuted 2 days ago to the dev branch that may solve your issue. If the login problem still persists, please open the console of your browser and let me know if there is any error reporting in the login page. Thanks

[2021-11-22 17:31] michaelhwn commented on #16
Hi @95ImadEL, the latest commit in the main branch now supports Bullseye, please feel free to try it out. But you will need to perform the setup process again on a newly flashed Raspberry Pi OS (Bullseye) due to a change in the software dependency.

[2021-11-22 19:57] 95ImadEL commented on #16
@michaelhwn thank you so much I will check it 👍

[2021-12-13 20:05] #16 closed

[2021-12-20 20:33] #17 closed

[2021-12-26 08:42] gris74 commented on #17
Thx it work....

I am in a fresh installation and still encounter problems with libqtgui4 now and open an issue

[2021-12-26 08:44] gris74 opened #18 "Package libqtgui4 is not available"
Package libqtgui4 is not available, but is referred to by another package.
This may mean that the package is missing, has been obsoleted, or
is only available from another source

E: Package 'libqtgui4' has no installation candidate
E: Unable to locate package libqtwebkit4
E: Unable to locate package libqt4-test

For information :
pi@raspberrypi:~ $ cat /etc/os-release
PRETTY_NAME="Raspbian GNU/Li

[2021-12-30 16:09] michaelhwn commented on #18
Hi @gris74, did this happen while you are running the script? If so, did the setup script finish running and reboot the Pi?

[2022-01-04 19:39] michaelhwn commented on #18
Hi @gris74, I have updated the main branch to remove the installation of libqtgui4 related packages during the setup process. Please give it a try.

[2022-02-09 04:46] #18 closed

[2022-02-09 20:14] acommuni opened #19 "CAIT Setup page looping"
The setup page  of CAIT remains in an infinite loop on message "Retreiving device information ..."

![image](https://user-images.githubusercontent.com/6270865/153276347-325d27ce-2e1b-49aa-b4bc-c53d17496e93.png)

![image](https://user-images.githubusercontent.com/6270865/153282315-aa607ba6-4f24-4468-90b2-dff639ddf810.png)

The only AJAX Request in error is the /getwifi page.

There is the following

[2022-02-09 21:03] acommuni opened #20 "Error while deleting directory tuned_blazeface_lib"
There is an error in syslog file :

[code]

The code tries to delete an non empty dir. The fix consists in using `shutil.rmtree` (see attached patch)

[patch-rmdir.txt](https://github.com/cortictechnology/cep/files/8036196/patch-rmdir.txt)

[2022-02-10 18:19] michaelhwn commented on #19
Hi @acommuni, there is one more reason that can also cause the never-ending spinning, that is the setup page is failing to receive heartbeat messages from the CAIT interface https://github.com/cortictechnology/cep/blob/d3fb4bdbca744d4ae4e6a97c001a85506d67bd8b/src/cait/cait/core.py#L71, it can either be the device's MQTT broker is not running, or the CAIT interface failed to start. I will also look

[2022-02-10 22:54] acommuni commented on #19
Hi Michael,

MQTT seems to be OK (First extract of logs). getwIfi seems to be sometimes to ok and sometimes not (See second extract of logs). gewifi is requested very often (less than 1s), it could be the reason of the failure. One request could be sent before the previous is correctly ended.

[code]

[code]

[2022-02-10 23:02] acommuni commented on #19
It suscribe to wrong topic :

![image](https://user-images.githubusercontent.com/6270865/153511187-4e22221a-5b1e-43c6-b5ea-7df43a88c53f.png)

The hostname is filled with "192" by default but it's not the hostname. When I change the hostname, it does not subscribe to the new topic (no trace in the console)

[2022-02-10 23:12] michaelhwn commented on #19
Ah I see, I know the cause of this issue then. Since the setup page is hosted on the raspberry pi, so when you access this page on a web browser, the hostname (of the raspberry pi) is extracted from the URL.  If an IP address is used to access the web app, the extracted hostname will be incorrect. And since the MQTT topic subscription is based on the incorrectly extracted hostname, this explains w

[2022-02-10 23:14] michaelhwn commented on #19
Meanwhile, can you try to access the setup page using http://<hostname>.local/setup? If the spinning issue does not happen, then it confirms the bug.

[2022-02-11 07:56] acommuni commented on #19
I use the hostname of the raspberry now in the url and it works ! Filling the field with the hostname faciliate the setup. Thanks

Remark : The subscription to MQTT topics should be done after clicking on the "next" button it could let the user changing the hostname (I don't know if they are use cases that need to change the hostname or having multiple topics).

[2022-02-12 02:33] michaelhwn commented on #19
You are welcome @acommuni, I will also fix this issue for users who use the IP address to access this page by incorporating your suggestion too.

[2022-02-24 18:23] michaelhwn commented on #20
Hi @acommuni, the fix you provided is now pushed into the dev branch, I will merge that to the main branch after some testings. Thanks again!

[2022-02-24 18:25] michaelhwn commented on #19
[This commit](https://github.com/cortictechnology/cep/commit/60795f2ee40bc2dc27206c49febd49765ec24c5d) in the dev branch has fixed the hostname issue. This change will be merged to main branch after some testings.

[2022-03-02 21:15] philmurp opened #21 "Not able to access setup site"
I am using VMWare Workstation since I dont have a Pi 4 and they are very hard to come by right now. I am running latest Pi OS; was able to download the CEP packages with success and Desktop rebooted.

I am able to SSH into the Pi so I believe that confirms we are on the same LAN and able to access the Pi. However, every time I run:

`http://<raspberry_pi_hostname>.local/setup`

I get an error "Con

[2022-03-04 18:03] michaelhwn commented on #21
Hi @philmurp, I haven't tried to run on a VM yet. But you can try to access the setup page using the IP address directly:

```http://<ip_of_vm>/setup```

If the VM is accessible within the local network, this approach should work.

[2022-03-04 18:38] philmurp commented on #21
Not working with that, I am using same IP as I do with SSH (with success) and I get the "Site Cant Be Reached" "Connection was Reset"

[2022-03-06 03:15] kaalen opened #22 "Failed connecting to robot inventor"
I'm having issues running any logic that depends on LEGO Hub connection. I'm running this on Raspberry Pi 4B. I setup Bluetooth connection with the hub following another tutorial. I had issues initially but after I followed the tutorial it seems to connect now if I select the option to connect it to serial port. The blue light comes on and the hub is shown as connected in the Bluetooth status area

[2022-03-06 05:59] kaalen commented on #22
OMG, I did not just spend a day trying to get this to work when it is in fact that SIMPLE.
No need to manually connect Hub via bluetooth. I just started one of the example scripts, turned hub on and pressed bt button and the script does the bluetooth connection on initialization.
Feeling a little silly now. This can be closed

[2022-03-06 05:59] #22 closed

[2022-03-07 11:21] kaalen opened #23 "Building and extending docker modules"
Are you able to provide guidance on how I should approach extending docker module functionality?

I want to add some additional custom blocks to CAIT for vision processing. My understanding is that I should implement this functionality in vision module. I'm a little out of my depth with Docker but I'm guessing that I need to build a local docker image using the dockerfile and then look into extend

[2022-03-08 01:54] kaalen commented on #23
Well, the best kinds of problems are the ones where you can find a solution yourself. I figured out I can take a different approach after completing a general getting started tutorial on docker.
So for the benefit of others who may be interested in extending the functionality or simply looking closer at the inner workings to troubleshoot any issues, here's my approach:

Start the CURT containers i

[2022-03-08 17:53] michaelhwn commented on #23
HI @kaalen, sorry for the late reply. I am glad that you found a solution. The --force-recreate flag is indeed needed to make sure no caches from previous docker containers with the same name are used. And the reason that the CAIT web app is needed to restart is that it needs to re-establish a connection to the local MQTT broker (which was shut down by docker-compose on every restart). I will put

[2022-03-08 17:54] michaelhwn commented on #21
Hi @philmurp, can you use the following commands to check if the CAIT webapp and CURT backend is running properly in the VM?

``` sudo journalctl -u cait_webapp.service```
```sudo journalctl -u curt_containers.service```

It is possible that these services are not running in the VM, and that could explain why you cannot access the web app.

[2022-03-08 17:54] #19 closed

[2022-03-08 17:54] #20 closed

[2022-03-08 18:17] philmurp commented on #21
Thanks, looks like it isnt running as per image. Guess it didnt totally install correctly.

![Capture](https://user-images.githubusercontent.com/5831033/157300107-90f971df-bcfa-4d2d-acc4-34c3bfe99e57.PNG)

[2022-03-08 18:21] michaelhwn commented on #21
Right, the services aren't starting. If you could copy and paste the error message here (the red lines), I may be able to help check what packages are missing in your image.

[2022-03-08 19:06] philmurp commented on #21
Sorry got chopped off. New image attached:
![Uploading Capture_2.PNG…]()

[2022-03-08 19:07] philmurp commented on #21
Repasted image:
![Capture_2](https://user-images.githubusercontent.com/5831033/157307753-47c59b5e-6681-44b8-84a9-b5c16eb29aa3.PNG)

[2022-03-08 19:10] michaelhwn commented on #21
Ah, bash is missing. The CEP's installation script uses bash to execute commands, you can install bash before running the installation script:

```sudo apt-get install bash -y```

[2022-03-08 19:55] philmurp commented on #21
I double checked, and ran your install code; says bash is already the newest version (5.0-4). Rebooted and same error

[2022-03-08 20:00] michaelhwn commented on #21
Can you type this and check where is bash located:

`which bash`

[2022-03-08 20:08] michaelhwn commented on #21
I see, the problem is that the services use /usr/bin/bash to launch the startup scripts. In your image, bash is located at /bin/bash instead. This is a bit different from a standard Raspberry Pi OS installation. You will need to edit these files in order to run CEP in your image:

`sudo nano /etc/systemd/system/cait_webapp.service `
`sudo nano /etc/systemd/system/cait_webapp.service `

In both fil

[2022-03-08 20:39] philmurp commented on #21
Thanks for all the help! Saw service started but some other issues;

First image for CAIT line
Second image for CURT line
![CAIT](https://user-images.githubusercontent.com/5831033/157320951-239c1d46-8faa-4dc1-90ec-629325917dcc.PNG)
![CURT](https://user-images.githubusercontent.com/5831033/157320973-70b2c8ec-adaf-432a-afe7-3325ca649fbd.PNG)

[2022-03-08 21:50] michaelhwn commented on #21
This error is caused by a missing Python package, it should be installed through pip during the setup process. I think there were some errors during the installation process, it would be great if you can try to install again and capture the errors during the process.

[2022-03-08 23:50] michaelhwn commented on #22
Hi @kaalen, sorry I missed your issue, I have been busy on another project lately. Good to know you have gotten it worked out.

[2022-03-11 09:33] rexn8r opened #24 "OAK-D Lite"
Hi

I am trying to setup CAIT on my raspberry pi model 4 8 GB with 64 bit OS.

Ran the setup.sh to install pre-requisites.

Now when i am trying to run the setup; the page is unable to detect OAK-D camera. I have installed DepthAI pre-requisites and ran Age & Gender demo and its running successfully.

Below is the setup page with Devtools;
![2022-03-11-150009_1360x768_scrot](https://user-images.gi

[2022-03-11 12:33] gris74 commented on #24
Yeah same problem here when fresh install on a pi4 ...

[2022-03-11 17:33] michaelhwn commented on #24
Hi @rexn8r and @gris74, I will be looking into this problem. I will let you know as soon as I figured out the cause of this issue.

[2022-03-12 05:34] rexn8r commented on #24
Thanks @michaelhwn

looking forward to the solution.

One thing I missed to mention is that while running setup.sh, the opencv-contrib-python installation got stuck with following message;

Building wheel for opencv-contrib-python (PEP 517)....... /

I then cancelled the process after one hour, manually installed opencv-contrib-python and ran the setup again.

thanks
rex

[2022-03-13 21:43] ArshadIram opened #25 "Localhost is not working"
Hello,
We are using Raspberry Pi 4B and want to use the software "CAIT".

We are following Readme file instructions and while completing the step we have faced an issue. The steps are below:
## Visual Programming

1. Make sure your Raspberry Pi device is connected to the Local Area Network (LAN).
2. On a computer connected to the same LAN, go to ``http://<raspberry_pi_hostname>.local/setup`` on yo

[2022-03-13 23:27] michaelhwn commented on #25
Hi @ArshadIram, may I know the following information:

1. Which operating systems you are running the browser to try accessing CAIT?
2. What is the host name you use to access CAIT?
3. Could you please try to access CAIT through `http://<ip_address_of_cait>/setup` and see if that works?

[2022-03-14 00:06] rexn8r commented on #24
Hi @michaelhwn

Any update on the resolution for the issues i faced above?

Thanks

[2022-03-14 00:07] michaelhwn commented on #24
Hi @rexn8r, I am trying to reproduce it on my end. One thing I noticed is that the long installation time of openCV only happens on a 64-bit Raspberry Pi OS (Bullseye). Is this the OS you are using?

[2022-03-14 00:44] michaelhwn commented on #24
Hi @rexn8r, so far I can reproduce this issue on the latest 64-bit Raspberry Pi OS (Bullseye). The reason is that CEP's vision module hasn't been updated to support 64-bit OS. This caused the module to fail to initialize. On a 32-bit system, I haven't been able to reproduce this error. If you are using a 32-bit OS and encounter this error, please run the following commands and provide the output m

[2022-03-14 00:55] ArshadIram commented on #25
1.I am using ubuntu os on pi 4b 64gb device. I am using chromium browser.
2. raspberrypi host name (IP), I am using to access CAIT
I am able to access now I think there might be server issue as same steps I was trying and now able to access.

Many thanks for your quick reply.

[2022-03-14 00:55] #25 closed

[2022-03-14 05:21] rexn8r commented on #24
hi @michaelhwn

I have checked the pi version and its 32 bit.

below is the output message of the service;

+++++++++++++++++++++++
Mar 14 10:46:44 raspberrypi sudo[5187]:     root : PWD=/home/pi/cep/src/cait/cortic_webapp ; USER=root ; COMMAND=/usr/sbin/iwgetid
Mar 14 10:46:44 raspberrypi sudo[5187]: pam_unix(sudo:session): session opened for user root(uid=0) by (uid=0)
Mar 14 10:46:44 raspberryp

[2022-03-14 05:36] michaelhwn commented on #24
Thanks for the log @rexn8r, the error shows that the “essential” module of CAIT is not found, and thus the calling of any functions provided by that module returns an error. This lead me to suspect that something went wrong during the setup process. Specifically, the process might have stopped before [this line](https://github.com/cortictechnology/cep/blob/d3fb4bdbca744d4ae4e6a97c001a85506d67bd8b/

[2022-03-14 07:34] rexn8r commented on #24
sure thing. i am onto it. will update you how it goes.

thanks
rex

[2022-03-14 16:29] topi-dev opened #26 "RPi CSI Camera Configuration Issue"
First of all thank you for the **great work** you did implementing the CEP solution. After some tinkering I got it to work with an RPi  /w CSI camera and a Lego Inventor Robot Kit. Your solution really is as much fun as it is educative and the interface is simply great.

However, after some tinkering I always arrive at a dead-end when initialization of the CSI camera will fail in during the setup

[2022-03-14 17:27] michaelhwn commented on #24
Hi @rexn8r, good to know it works this time. In order to add a new vision capability, you have to perform the following steps:

Note: I will be using the OAK-D Facemesh function as an example since adding age & gender will be a very similar process

1. In `<root_of_cep>/src/curt/curt/modules/vision`, you will need to create a new Python module that inherits the OAKDProcessingWorker class. [An exam

[2022-03-14 17:41] philmurp commented on #21
I try to re-run install script: First off I get this warning:
![Capture](https://user-images.githubusercontent.com/5831033/158229897-855167da-fb68-4b84-ad4d-3c4c1d8a0cd5.PNG)

[2022-03-14 17:42] philmurp commented on #21
I am running despite this warning; will update once it completes

[2022-03-14 17:45] michaelhwn commented on #21
Sure, ignoring this warning is safe in this case as the docker command was initially installed through this script. [This line](https://github.com/cortictechnology/cep/blob/d3fb4bdbca744d4ae4e6a97c001a85506d67bd8b/setup.sh#L19) installs the Python packages that you were missing before, so if there are any errors happen, they should be related to pip. Please let me know if you observe any pip error

[2022-03-14 20:27] topi-dev commented on #26
Hi @michaelhwn and thank you for looking into this. With me the 'Initialize vision with' block correctly shows 'CSI Camera' and it is also the only choice in the dropdown. Same for the Setup-Screen. Reselecting the 'CSI Camera' entry does not resolve the issue. I attached the logs at the bottom,

![InitializeVisionSelection](https://user-images.githubusercontent.com/101583850/158253747-0711cf16-9d

[2022-03-14 20:29] philmurp commented on #21
This time I am able to access initial setup screen, but not fully loading and some performance issues. I will try later today without anything else open. But at this point it may be my computer power/emulator issue

[2022-03-14 20:33] michaelhwn commented on #26
Thanks for the log @topi-dev, I see what happened now. There is a fix in the dev branch for the exact problem you are encountering, you can check out the dev branch and perform the setup on a newly flashed Raspberry Pi OS. To check out the dev branch, please perform the following steps:

[code]

After setting up with the dev branch, the issue should be gone. Just let me know if the problem still p

[2022-03-14 20:36] michaelhwn commented on #21
Glad to know it's getting closer. For sure there can be some uncertainties when using an emulator to run the software. Please free feel to let me know if you need more help in debugging this approach.

[2022-03-14 20:37] michaelhwn commented on #26
BTW, I like your set up a lot, I may want to set up one like that for myself too.

[2022-03-14 20:48] philmurp commented on #21
Will do, if I could just find a Raspberry Pi to buy I would have done that, but they have been out of stock for a while now. Any chance OrangePi, BananaPi type boards work with this software as alternate?

[2022-03-14 20:59] michaelhwn commented on #21
Right, the chip shortage issue really affects a lot of things. I haven't tested with any of the Pi-alternative boards. However, from a technical perspective, since CEP is designed for running in a 32-bit Debian-based OS on a 64-bit Arm processor, with some efforts, it is very probable that it will run on those boards. But I cannot estimate the scope of work to do that, you will need to make sure t

[2022-03-14 21:49] philmurp commented on #21
It seems to be working ok so far; but when using OAK D camera plugged in it says no OAK D device detected even though I can see it in my emulator window.

Do I need to download the DepthAI packages first? I thought they were included in this install but maybe not.

[2022-03-14 21:54] michaelhwn commented on #21
No, you shouldn't need to manually install the DepthAI packages. All of the dependencies are installed into the corresponding Docker containers. Where did it say no OAK-D device is detected? Did it say that on the setup page, or on the programming page?

[2022-03-14 22:07] michaelhwn commented on #21
I see all of the DepthAI related packages are installed in the vision Docker container, and that may not be running properly.  Within your VM, please run the following command and post the output messages here:

`sudo journalctl -u curt_containers.service -f`

[2022-03-14 22:29] philmurp commented on #21
Attached here:
![1](https://user-images.githubusercontent.com/5831033/158271417-41fb9582-9326-488d-b4c4-7a59055562a7.PNG)

[2022-03-14 22:31] michaelhwn commented on #21
Thanks for the log @philmurp. But it only shows the log of the homeassistant Docker container, did you see any logs that start with the name curt_vision?

[2022-03-14 22:34] philmurp commented on #21
Nothing yet, I tried to leave the window open and re-run the cortic interface but still nothing starting with curt_vision. Maybe its not even starting?

Is it possible it has to do with my bash location? I did change the files like you mentioned above to get rid of /usr

[2022-03-14 23:16] michaelhwn commented on #21
Right, I think the Docker containers are not running at all. We will need to see what happened when the containers were starting. To do that, you will need to open two terminals in the VM, in one of the terminals (let's call it the log terminal) enter `sudo journalctl -u curt_containers.service -f` and leave it printing the logs. In another terminal, you can enter `sudo systemctl restart curt_cont

[2022-03-14 23:29] philmurp commented on #21
![Capture2](https://user-images.githubusercontent.com/5831033/158277266-e89591e3-3369-45aa-a212-fb9989a0bc8a.PNG)
![Capture](https://user-images.githubusercontent.com/5831033/158277268-38ef4cb9-a1d8-4821-a186-09d9543149b2.PNG)

[2022-03-14 23:32] michaelhwn commented on #21
The logs of the containers look ok so far, were there any messages that look like "Connected to broker..." and "Subscribing to topic..."? These messages indicate whether the MQTT broker was started successfully and if the different modules could connect to it.

[2022-03-15 00:14] philmurp commented on #21
There is a "Fatal Python error: (pygame parachute) Segmentation Fault next to "curt_voice_1"

Also later on "error during setup
![Capture](https://user-images.githubusercontent.com/5831033/158281236-7328d2b3-09bd-43f9-a0e3-657d19a29b88.PNG)
 of component zeroconf" next to" homeassistant.setup"

[2022-03-15 00:14] philmurp commented on #21
but then further down curt_vision_1 says "vision connected to broker with result code 0"

[2022-03-15 00:31] michaelhwn commented on #21
I think there are multiple problems here:
1. The emulated audio hardware is not compatible with the CEP's voice module. This can only be solved by installing the proper driver within the voice container. This can be a tedious process as you need to figure out which driver to install, and you also need to maintain a local version of the voice container in your machine.
2. Although the OAK-D device

[2022-03-15 01:24] philmurp commented on #21
Thanks for all the help, I will poke around VMWare settings a bit more.

I do have a Jetson Nano board; but it is 64 bit and runs on JetPack OS, so not sure how it will work. Might be worth a shot, not sure if you have heard anyone try this on that board.

[2022-03-15 11:30] rexn8r commented on #24
hi @michaelhwn

thanks for the guideline. I will give it a shot and let you know.

regards

[2022-03-15 11:34] ArshadIram opened #27 "Load Icon for loading examples"
Hi,

First of all thank you so much for the great work. We are trying to load the examples but unable to do so. These are the following steps we are following:
1. Click on Load button
2. A window is open
3. We are getting error "Connect rest error and on networks files API is throwing error

From the images you can see that the API is getting fail.
![WhatsApp Image 2022-03-15 at 11 31 51 AM](https

[2022-03-15 15:52] michaelhwn commented on #27
Hi @ArshadIram, it seems you are using the chromium browser, I will try to reproduce this issue on my end. Which operating system you are using with the chromium browser?

[2022-03-15 15:53] michaelhwn commented on #26
I am glad to know it works for you.

[2022-03-15 15:55] michaelhwn commented on #21
You are welcome @philmurp. If you want to try on the Jetson Nano. I recommend you to wait for a day or two as I am currently updating CEP to support the 64-bit Raspberry Pi OS.

[2022-03-15 16:05] ArshadIram commented on #27
I am using raspberry pi 4b and os is raspberrypi.

[2022-03-15 20:52] #26 closed, assigned to nobody

[2022-03-16 00:00] ArshadIram commented on #27
Yes, It seems working to me now. I was getting error in morning. Many thanks to you.

[2022-03-16 00:00] #27 closed

[2022-03-16 01:04] ArshadIram opened #28 "OKD-Vision"
Hello,

First of all many thanks to you for replying all the previous quires. I am successfully able to connect with your programming interface and I really like it. However,m when I am trying to connect with OKD-camera and I not able to connect it successfully. I am trying to initial the vision with but it seems like option is not loading properly.

![20220316_005921](https://user-images.githubus

[2022-03-16 01:15] michaelhwn commented on #28
Hi @ArshadIram, have you tried to close the dropdown menu and open it again? Sometimes it takes a bit of time for the device to be detected, and closing and re-opening the dropdown menu can refresh and grab the latest device list.

[2022-03-16 11:29] ArshadIram commented on #28
I tired it many times but no luck.
![20220316_112817](https://user-images.githubusercontent.com/50909488/158580407-85f71b89-91b1-42c9-afc1-771452f1c6ce.jpg)

[2022-03-16 12:28] ArshadIram opened #29 "Initialise camera throwing 500 internal server error"
Hello,

I am trying to complete the setup by retrieving the device information.

Actual Result:
On front end the screen is showing the loading sign.

On Backend:

oot : PWD=/home/pi/Desktop/Cortic/cep/src/cait/cortic_webapp ; USER=root ; COMMAND=/usr/sbin/iwgetid
Mar 16 12:18:01 raspberrypi sudo[26701]: pam_unix(sudo:session): session opened for user root(uid=0) by (uid=0)
Mar 16 12:18:01 raspberr

[2022-03-16 14:29] michaelhwn commented on #28
Oh, I just realize you are using the wrong initializing block. The block in your screenshot is under “Vision”->”Raspberry Pi” and it is for webcam/csi-camera. For PAK-D, you should use the initialize block under the “Vision”->””OAK-D” category.

[2022-03-16 17:44] ArshadIram commented on #29
yes

[2022-03-16 17:46] michaelhwn commented on #29
Thanks for closing the issue. Please try to use the method I replied in issue 28 and see if that solves your problem.

[2022-03-16 18:10] ArshadIram commented on #29
I apologise for closing this. This is a separate issue. I am facing this issue while CAIT setup.
![20220316_121740](https://user-images.githubusercontent.com/50909488/158658557-c07d1d4b-7a82-4d84-8337-b257b48e75e9.jpg)

[2022-03-16 18:37] michaelhwn commented on #29
I see, this issue is probably related to a bug that was fixed in the dev branch. Please try setting up again with the dev branch of CEP on a newly flashed Raspberry Pi OS. To check out the dev branch, please perform the following steps:

[code]

Please check again if the above issue still happens after setting up with the dev branch.

[2022-03-16 18:39] michaelhwn commented on #21
Hi @philmurp, I have tested that even the current version of CEP will work on 64bit Raspberry Pi OS. As long as the Docker containers can be run on the 64-bit OS you have, CEP should work. However, I suggest you to use the dev branch when you try setting it up. To check out the dev branch, please perform the following steps:

[code]

[2022-03-16 23:16] philmurp commented on #21
Thanks, ok just tried it on the Jetson Nano.

I got errors in the install, then once done I ran the code above to check if service was running (after updating the bash location) and got the extra two errors
![20220316_173513](https://user-images.githubusercontent.com/5831033/158706696-4b76a62f-d9d7-4376-a623-26477bf0d29b.jpg)
![20220316_191117](https://user-images.githubusercontent.com/5831033/158

[2022-03-16 23:23] ArshadIram commented on #29
I flashed Pi OS and reinstalled everything. Issue is fixed however, we are getting delay in video. For example, when we are testing it with OKD-lite the video is lagging. Can you please look into it.

[2022-03-16 23:32] michaelhwn commented on #29
Hi @ArshadIram, are you accessing CAIT in the Chromium browser directly on the Raspberry Pi? If so, the performance will not be as good as it can be since the Chromium browser is also competing for CPU resources. Please try accessing the CAIT interface in a Chrome browser on another computer that is connected to the same local network.

[2022-03-16 23:35] michaelhwn commented on #21
Hi @philmurp, the errors in the last picture are due to an incomplete setup process. You will need to fix the errors that happened in the setup and make sure the setup can finish properly. From the setup errors, I think you can look into 2 things:

1. NPM seems to be complaining about the platform being Linux-4.9.253-tegra, you should check if there are workarounds for NPM to accept this platform

[2022-03-16 23:44] ArshadIram commented on #28
I tired what you said but still not successful to initialise okd.
![20220316_233752](https://user-images.githubusercontent.com/50909488/158709285-6eed0171-115f-4ec6-a95f-5d20c4a4aa92.jpg)

[2022-03-16 23:49] michaelhwn commented on #28
You need to place any "initialize block" into a "setup block". Otherwise, it won't be enable.

[2022-03-17 13:32] ArshadIram commented on #29
HI, Thanks a lot and now its working very fine.

I would like to ask few other general questions
1. can we do our own custom training of object detection(Yolo V5 or other algorithm )
2. Can the custom Trained model can be deployed via Cloud (Aws / etc)
3. How many Oak-D can be added to this CAIT (for example 4 oak-d - is it possible )
4. Can we write code in PyCharm / Jupyter/ Vs-code instead of t

[2022-03-17 17:35] michaelhwn commented on #29
Hi @ArshadIram, glad to know it is working for you now. Regarding your questions:

1. Yes, you can train your model. But you will need to extend CURT (backend of CEP) and CAIT (frontend of CEP) to use your model with your block. You can refer to my answer in [here](https://github.com/cortictechnology/cep/issues/24#issuecomment-1067093354) for more information on how to do that.
2. CEP does not sup

[2022-03-17 18:23] Roopesh-Bharatwaj-K-R commented on #29
Hi @michaelhwn  Thank you ver much for addressing all of our questions.
sure we ( @ArshadIram ) will try implementing speech Recognition. And will respond you back.

[2022-03-17 18:31] philmurp commented on #21
Thanks I was able to install NPM and pip3; still getting the attached error. It seems like online maybe the pip3 still isnt updated enough?

Still looking for some answers but thought I would post in case you recognize solution:
![Capture](https://user-images.githubusercontent.com/5831033/158871870-bc559810-6ab5-42af-96ea-42aea0fc0fcd.PNG)

[2022-03-17 19:10] ArshadIram commented on #29
@michaelhwn Many thanks to you for your time and for fixing the issues. It was a really quick response and fix.

[2022-03-17 19:10] #29 closed

[2022-03-17 19:11] philmurp commented on #21
Made some updates to pip3 and seems like that error is gone, I am currently processing the setup, one error so far as below.

Do you think this is a showstopper that needs to be fixed?

![Capture](https://user-images.githubusercontent.com/5831033/158878123-21b44f10-dfce-4641-b612-b74b7dd39e30.PNG)

[2022-03-17 19:39] michaelhwn commented on #21
Hi @philmurp, I found [this problem](https://stackoverflow.com/questions/69262518/problem-with-simpleeval-installationuse-2to3-invalid) in stackoverflow, maybe you can try the solution in it.

[2022-03-17 19:50] philmurp commented on #21
Thanks I was able to install at version 57.5.0; currently downloading.

Fingers crossed no errors yet, I will report back.

[2022-03-18 15:56] philmurp commented on #21
So I was able to install with no errors; but when running the service, I still get below image.
![Capture](https://user-images.githubusercontent.com/5831033/159037683-0ccf6516-df2b-4d65-8918-aa34d147057e.JPG)

[2022-03-18 17:06] michaelhwn commented on #21
Hi @philmurp, this indicates that the environment variable in [this line](https://github.com/cortictechnology/cep/blob/d3fb4bdbca744d4ae4e6a97c001a85506d67bd8b/setup_scripts/start_cait.sh#L2) is not being set correctly during the setup process. The setup process set this variable for the root user in [this line](https://github.com/cortictechnology/cep/blob/d3fb4bdbca744d4ae4e6a97c001a85506d67bd8b/

[2022-03-18 17:29] philmurp commented on #21
Pic below:
1) Seems like this portion was added several times, should I make only one copy of each vairable (and one of the PYTHONPATHS is bigger than the others

2) should I remove /home/phil and just go straight to cep/src/cait/cortic_webapp/ because that is how I navigate from command line to get to this file

![Capture](https://user-images.githubusercontent.com/5831033/159053382-5cd24bf7-464e-

[2022-03-18 17:33] philmurp commented on #21
I did those updates, same error. But when I navigate via command window I can find those files along the path specified.

![Capture](https://user-images.githubusercontent.com/5831033/159054079-e85c4d0e-6392-4fde-a0df-e0f8217bcfcf.JPG)

[2022-03-18 17:35] michaelhwn commented on #21
It seems you have run the setup script multiple times. I would suggest starting the setup from scratch on a newly flashed OS again in the following order:
1. Flash a new OS installation.
2. Apply all of the fixes/tweaks you have done before to make sure the setup script run properly.
3. Clone the CEP project.
4. Run the setup.

If you just want a quick try, then yes, you should just keep one copy

[2022-03-18 19:00] michaelhwn commented on #23
Closing due to inactivity.

[2022-03-18 19:00] #23 closed

[2022-03-19 13:58] philmurp commented on #21
Still having same issue; could it be this "E:" that comes up; it isnt in red color so I usually glanced over it.

Since its not Raspberry Pi I wouldnt expect my Jetson would have those headers; if you think that might be an issue I can see what options there are to install those specific headers.

![Capture](https://user-images.githubusercontent.com/5831033/159123997-745d7cf0-3c98-431f-a782-9d0af9

[2022-03-19 18:30] michaelhwn commented on #21
The error is due to [this line](https://github.com/cortictechnology/cep/blob/d3fb4bdbca744d4ae4e6a97c001a85506d67bd8b/setup.sh#L43). On a Raspberry Pi OS, this is needed to make sure the ReSpeaker driver can be properly installed in a later stage. If you don't have the intention to use the speech-related features of CEP. you can comment out this line in the setup script and perform the setup again

[2022-03-20 19:38] philmurp commented on #21
Still getting the missing file error; but the path is correct in bash file. Looking online I saw some posts about how permissions on the file location might be causing an issue.

I am still trying to figure out exactly what to fix on my example; but thought I would share if you think this might be a good path to follow for potential fix.

https://stackoverflow.com/questions/70668977/uwsgi-failed-t

[2022-03-21 20:56] philmurp commented on #21
File is present at the path specified; and my permissioning looks fine.

I am stumped on this one, some users online said could be python isnt in the same directory; not sure how that works I didnt do anything unqiue when downloading.

![Capture](https://user-images.githubusercontent.com/5831033/159362346-dfc01ef7-9511-485a-b1bb-59e49c394736.PNG)

[2022-03-22 01:38] michaelhwn commented on #21
Hi @philmurp, the cait_webapp service uses root to run the webserver from the wsgi.py script, you would need to use `sudo python3 wsgi.py` to test if that is working.

[2022-03-22 20:33] philmurp commented on #21
Not file found with that code:
![Capture](https://user-images.githubusercontent.com/5831033/159570837-25442d71-a5df-4542-ae6c-2dff055b37c4.PNG)

[2022-03-22 20:40] michaelhwn commented on #21
Oh sorry @philmurp, I missed that you have used sudo in one of your screenshots. The error seems to be indicating that there are some API inconsistencies between the Python version in your system and the Python version CEP was written in. In Raspberry Pi OS (bullseye), the Python version is 3.9.2. While in your system, you are using Python 3.6. You may want to update the Python in your system to a

[2022-03-22 21:01] philmurp commented on #21
I upgraded to 3.9.11. Also aliased both python and python3 = python3.9. Which worked based on picture below.

Same error:
![Uploading Capture.PNG…]()

[2022-03-22 21:04] philmurp commented on #21
New error when I navigate to the file and then run it:
![Capture](https://user-images.githubusercontent.com/5831033/159575829-dd806917-381e-46a1-9f96-ad1ae9979e27.PNG)

[2022-03-22 21:07] michaelhwn commented on #21
Hi @philmurp, can you confirm if the python3 version in root is also upgraded to 3.9? You can check by running
[code]

Regarding the new error, this is because the setup process was run with the previously installed Python 3.6 version, therefore, all of the necessary packages were installed for Python 3.6 only. You may need to do the setup again in the following order:
1. Flash a new OS installati

[2022-03-22 21:09] philmurp commented on #21
Ah the sudo su, then python3 --version = 3.6.9.

Any idea how to fix that?

[2022-03-22 21:12] michaelhwn commented on #21
The quick way is to perform the alias operation you did before, but this time, do it under the root account:

[code]

[2022-03-22 21:18] philmurp commented on #21
Nice ok I got it to be 3.9.11 after I go to root. And now if I try to run wsgi.py manually, I get error no module names markupsafe.

So sounds like I need to perform a fresh re-install with python3.9 installed beforehand

[2022-03-22 23:15] michaelhwn commented on #21
Yup, hope that solves your issues.

[2022-03-23 20:51] michaelhwn commented on #21
Hi @philmurp, for the first screenshot, it seems the Python packages weren’t correctly installed for the Python 3.9 that you installed. For the second screenshot, you don’t need to run the setup using sudo. You can just run `bash  setup.sh`.

[2022-03-23 20:52] michaelhwn commented on #28
Closing due to inactivity.

[2022-03-23 20:52] #28 closed

[2022-03-23 21:00] philmurp commented on #21
Not sure what went wrong with the Python3.9 install; I still dont know why it cant find the wsgi.py under normal conditions but then I can navigate there and run it.

Are you saying python3.9 didnt install correctly because once I get to wsgi.py it shows "flask" missing?

[2022-03-23 22:07] philmurp commented on #21
Given there are so many dependencies I might need to fix, I found this online Armbian.

Seems like its Debian style OS that can be used on ARM boards like Jetson Nano. Any thoughts on if its worth a shot?

docs.armbian.com/User-Guide_Getting-Started/

[2022-03-24 00:32] michaelhwn commented on #21
I would say if the latest Armbian operating system is based on the latest Debian (Bullseye), there should be less dependency issues. And since it is a system closer than the latest Raspberry Pi OS, it may worth a try.

[2022-03-24 20:42] philmurp commented on #21
Any chance me installing in the "git checkout dev" branch is causing issues?

[2022-03-24 20:44] michaelhwn commented on #21
The dev branch's setup script is the same as the main branch. Since the problem happens during the setup process, it is not likely that was caused by the dev branch.

[2022-03-24 20:52] philmurp commented on #21
Yeah not sure where its going wrong; the initial problem of python3: cant open file 'wsgi.py' : [Errno 2] No such file or directory is confusing me because the path is correct and I can clearly get to it.

Feel like I am somehow in a different directory or something.

[2022-03-24 21:07] philmurp commented on #21
Some more interesting findings: I see in root root looks like maybe it is python2.7 still.

Perhaps I have to run code "sudo su" before all my installs/tweaks to ensure at root python is installed?
![Capture](https://user-images.githubusercontent.com/5831033/160010364-932f0ccb-3856-4a45-ad0d-d69d4ea65f9e.PNG)

[2022-03-24 21:15] michaelhwn commented on #21
I think for Linux, the root/default Python version is closely related to the operating system. So there is a chance that the operating system you are using needs an upgrade in order to use Python 3.9 as the root/default Python.  Or you may even need to use other Linux distros that come with a newer Python version.

[2022-03-24 21:16] michaelhwn commented on #21
The last screenshot you showed did suggest the root python3 still points to the 3.6 version though, which means the linking you did wasn't working for the root.

[2022-03-24 21:26] philmurp commented on #21
But I am aliasing python3 -> python3.9; so it should be running python3.9 whenever called like that.

I think because my last screenshot I was opening the actual python3 folder so it shows python 3.6 but if the aliasing is working properly that version should never get used

[2022-03-24 21:30] michaelhwn commented on #21
You can check which python3 is being used by running `which python3` In both the user account and root account (after `sudo su `). This way you can confirm if the alias is working.

[2022-03-24 21:32] philmurp commented on #21
I found this page: https://www.itsupportwale.com/blog/how-to-upgrade-to-python-3-9-0-on-ubuntu-18-04-lts/ with some steps after install to update alternatives, maybe that will be better than alias.

![Capture](https://user-images.githubusercontent.com/5831033/160013960-de9fa4e8-4308-4af5-b903-7490bc716caf.PNG)

[2022-03-24 21:36] michaelhwn commented on #21
Yes, it looks like the default python version is 3.9.11 now. If this method is used before the setup process, then all packaged installed during the setup process should be done with Python 3.9 then.

[2022-03-25 11:26] philmurp commented on #21
Good news the install for sure used Pyhton3.9 because a lot more modules were being downloaded.

Bad news, some more errors. I am looking through fixing them:

/usr/bin/aarch64-linux-gnu-gcc error came up about 4 times:
![Capture](https://user-images.githubusercontent.com/5831033/160111845-b0872f02-7b7a-4f05-b5ec-a64566c8cb78.PNG)

Could not find python2: Do I need to install Python2 as well?
![Ca

[2022-03-25 15:59] philmurp commented on #21
Fixed above, re-ran setup but still back to same error of cant find wsgi,py and when I manually navigate flask is missing.

Going to start from scratch again with the new python3.9-dev install before initial setup run to test again.

[2022-03-25 17:11] michaelhwn commented on #21
Python2 should be installed already within the operating system you are using, so that's a weird error. But you are right to install the python3.9-dev package for the missing Python.h error. And the fact that there is only the Python error during the OpenCV installation/compilation process is a good sign, meaning all of the other OpenCV dependencies were installed.

[2022-03-25 21:25] philmurp commented on #21
Still same cant direct to file error. I think it must be something due to my $PATH vs SUDO environment or something. Just cant figure this out

[2022-03-28 18:43] michaelhwn commented on #21
Hi @philmurp, in the setup script, starting at [this line](https://github.com/cortictechnology/cep/blob/d3fb4bdbca744d4ae4e6a97c001a85506d67bd8b/setup.sh#L50), it adds the corresponding paths to the environmental variables to the root environment. The only reason I can think of for your issue is that these lines were being executed, or they were not suitable for your operating system. You can inve

[2022-03-28 18:47] michaelhwn commented on #29
Hi @ArshadIram, please refer to the guide in [here](https://github.com/cortictechnology/cep/issues/24#issuecomment-1067093354) for details on how to extend CEP and add your own functionalities. Instead of modifying the vision module, you will need to extend the voice module and add a new Alexa worker.  I have not done anything related to Alexa, so I am not familiar with the Alexa integration proce

[2022-03-28 18:47] michaelhwn commented on #24
Closing due to inactivity.

[2022-03-28 18:47] #24 closed

[2022-04-02 21:57] ArshadIram opened #30 "Bash setup.sh setup is not working on OS 64-bit pi"
I git clone the folder
cd cep and then git checkout dev
after that I am trying to run this command bash setup.sh and the setup is stuck. Kindly, help me out in this setup
![20220402_225411](https://user-images.githubusercontent.com/50909488/161402697-a7c9177a-658f-4575-85ea-a19dcf36159b.png)

[2022-04-03 11:33] DocObvious opened #31 "Install help please"
Hello

I followed the instructions to install cep, from your github page, followed by the Respeak driver (although I am not using the mic). Everything seemed to install without issue the pi rebooted but when I try to go to http://raspberrypi.local/setup it says this site can’t be reached.

My setup is as follows:
Raspberry Pi 4 4gb model
64Gb sd card
fresh install 32 bit bullseye (this is the firs

[2022-04-03 12:46] ArshadIram commented on #31
I am facing same issue

[2022-04-03 14:16] kanhua commented on #31
I had the same issue earlier but I solved it.

What error message you got when you run
[code]
In my case, it seemed that the latest version of `markupsafe` broke some backward compatibility. (Something like [this])(https://github.com/aws/aws-sam-cli/issues/3661)

[code]
worked for me.

[2022-04-03 14:22] kanhua commented on #30
What OS are you using
My installation was also stuck at installing `opencv-contrib-python` when I tried to run the installation script on a 64-bit Raspberry Pi OS. But the installation went through when I used 32-bit Raspberry Pi OS.

Well, I also attempted to install the latest version of `opencv-contrib-python` but somehow it cannot launch `freetype`, which is essential to some code of this repo

[2022-04-03 15:29] ArshadIram commented on #30
I am using RaspberryPi os 64-bit

My installation stuck OpenCV-contrib-python wheel

I tried to install this opencv seperatly but somehow I am not able to launch setup page.

[2022-04-03 15:34] ArshadIram commented on #31
pi@raspberrypi:~ $ cd cep/
pi@raspberrypi:~/cep $  sudo bash ./setup_scripts/start_cait.sh
 * Serving Flask app "main" (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: off
Traceback (most recent call last):
  File "/home/pi/cep/src/cait/cortic_webapp/wsgi.py", line 1

[2022-04-03 16:30] DocObvious commented on #31
This worked for me too thank you very much

[2022-04-03 18:10] DocObvious commented on #31
This error looks like the server is not running correctly. I don't know your setup but would consider doing a completely fresh install of raspberry pi os and trying to install CEP again on that.

[2022-04-04 08:56] ArshadIram commented on #31
Do I need to checkout to dev branch during installation?  As per this bug fix https://github.com/cortictechnology/cep/issues/26.

Kindly let me know

[2022-04-04 09:10] DocObvious commented on #31
I am afraid that is beyond my knowledge base sorry.

I can tell you I did a completely fresh raspberry pi os install of 32 bit bullseye the setup CEP as per the instructions and the applied the fix that was given in this tread and it worked.

[2022-04-04 16:48] michaelhwn commented on #30
Hi @ArshadIram and @kanhua , it is known that the version of openCV used in this project needs to be compiled from scratch during installation on a 64 bit Raspberry Pi OS. The compilation time can last for hours on a Raspberry 4B. There is a pre-build package for the 32 bit OS and thus the installation time was fast. I will be trying to look for a version that can be used and has pre-build package

[2022-04-04 16:50] michaelhwn commented on #31
Hi @DocObvious, glad to know it works for you now.

[2022-04-04 16:53] michaelhwn commented on #31
Hi @ArshadIram, from your log, it seems that port 80 is used by other programs running on the Raspberry Pi. CEP uses port 80 to host the frontend interface. If you have any other programs that is using port 80, CEP's frontend (CAIT) won't be able to run.

[2022-04-08 21:24] philmurp commented on #21
Hello, I tried installing with Armbian image on the Jetson Nano; same error as before:

Note: I installed as root first since that was default, then once it reset it brought me to my user profile so after checking it didnt work I installed again not in root. That is second picture.

After installing only in root:
![wsgi issue](https://user-images.githubusercontent.com/5831033/162533971-667270c7-9c

[2022-06-09 22:40] #31 closed

[2022-06-09 22:40] #30 closed

[2022-06-09 22:40] #21 closed

[2022-06-14 19:01] philmurp commented on #21
Hello, any alternative to Raspberry Pi 4? Still cant find any in stock.

[2022-06-23 22:22] philmurp opened #34 "Can this be run on Debian and alternate board to Raspberry Pi?"
I am having trouble getting Raspberry Pi, they sell alternate boards that can run Debian do you think that will work for this software or it has to be Rasbian OS?

[2022-06-27 23:09] michaelhwn commented on #34
Hi @philmurp, our software is targeted for the Raspberry Pi OS only, it is possible to modify it to support other Debian based OS. But we currently don’t have the capacity to work on this. You are welcome to contribute to the project and extend it to support other OS.

[2022-07-02 17:09] welshlamb10 opened #35 "cant get raspberrypi.local/setup to work"
I've followed the instructions line by line. I've also installed fresh RaspberryPi sketch onto the SD card two times.
I get as far as visiting raspberrypi.local/setup

Then I get the error:
This site can’t be reachedCheck if there is a typo in raspberrypi.local.
DNS_PROBE_FINISHED_NXDOMAIN

This happens on both the pi itself and when trying to access on any other machine on the network.
I'm using

[2022-11-24 03:33] dhruvmsheth opened #36 "Support for LEGO EV3 31313"
@michaelhwn Can this be modified to support Mindstorms EV3 too? I guess CAIT is supported for EV3. How should I go about to integrate it with EV3 31313? I'm trying to use it with an OAK-D camera and a custom object detection model.

Thank you so much for your help! Hoping to hear back from you soon.

[2022-11-24 10:22] dhruvmsheth commented on #36
For example in the face tracking example:

https://github.com/cortictechnology/cep/blob/c8d3e145ea8ccc58c5ab49d9fb132356d60a666d/examples/cait/example_tracking_face.py

Can the part with ``` "hub_name": "Robot Inventor: A8:E2:C1:9B:EF:3B" ``` be replaced with ``` EV3: 172.20.1.73 ``` and made compatible after pairing connecting ev3 with raspberry pi?

[2022-11-26 18:45] #34 closed, assigned to nobody

[2022-11-26 19:14] michaelhwn commented on #36
Hi @dhruvsheth-ai, as we do not have plans to support the Mindstorms EV3, there isn't a ready-to-use flow in CEP to control the EV3. However, we have implemented a very basic EV3 control worker that you can use as a starting point to extend CEP for a complete EV3 control flow. I have outlined some steps below that you can refer to if you decide to do that:

1. Extend the [ev3_control.py](https://g

[2022-11-26 19:30] michaelhwn commented on #35
Hi @welshlamb10, I will need to know a bit more information regarding your setup:

1. What is the operating system of the computer that you use to access the Pi?
2. What is the browser that you use?
3. Are you using a Raspberry Pi 4?
4. What is the version of the operating system you installed on the Pi?
5. Have you changed the hostname when you were in raspberrypi.local/setup?

[2022-11-29 13:49] dhruvmsheth commented on #36
Hi @michaelhwn for the detailed info! We'll try it out this week and let you know how it goes!